@font-face {
    font-family: 'Museo Sans 500';
    src: url('MuseoSans-500.eot');
    src: url('MuseoSans-500.eot?#iefix') format('embedded-opentype'),
        url('MuseoSans-500.woff2') format('woff2'),
        url('MuseoSans-500.woff') format('woff'),
        url('MuseoSans-500.ttf') format('truetype'),
        url('MuseoSans-500.svg#MuseoSans-500') format('svg');
    font-weight: normal;
    font-style: normal;
}

